#content_container {
	/* background-color: transparent!important; */
	background: linear-gradient(90deg,#d2a8ff 10%,#f778ba 40%,#ff7b72 80%)!important;
	padding: 1px!important;
	border-radius: 8px!important;
	overflow: hidden!important;
	height: fit-content!important;
	max-width: 1000px;
	width: 90%;

}
:host {
	border-top: 1px solid darkgray;

	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--bg_lighter);
	padding-top: 40px!important;
	padding-bottom: 40px!important;
}


#content {
	display: flex;
	overflow: hidden;
	/* flex-direction: row; */
	flex-wrap: wrap;
	background-color: var(--bg_lighter)/*#161b22*/;
	border-radius: 8px!important;
	align-items: center;
	justify-content: center;
	width: 100%;
	column-gap: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}
#information {
	width: 50%;
	display: flex;
	min-width: min(400px, 90%);
	flex-direction: column;
	margin: 2px;
	/* margin-right: 20px; */
}
#newsletterTitle {
	font-size: xx-large;
	line-height: 100%;
	/* color: white; */
	color: var(--text_highlight)
}
#newsletterDescription {
	font-size: large;
}
@media screen and (max-width: 500px) {
	#information {
		text-align: center;
	}
}
#emailContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

#sendButton {
	width: 30%!important;
	height: 100%;
	background: -webkit-linear-gradient(-70deg,#8250df 0%,#d42a32 100%);
	/* font-weight: bold; */
	border: none!important;
	padding: 10px;
	margin-left: 10px;
	opacity: 1;
	transition: opacity 0.5s ease-in-out;
	justify-content: center;
	display: flex!important;
	color: white!important;
}
#sendButton:disabled, #sendButton[disabled] {
	opacity: 0.7;
	color: var(--text_highlight)!important;
	/* color: rgba(255, 255, 255, 0.6)!important; */
	background: var(--bg_content_dark)!important;
}

#subscriptionContainer {
	/* width: 40%; */
	max-width: 400px;
	/* display: flex; */
	flex-direction: column;
	padding: 10px;
}

#emailInput input {
	padding: 10px;
}

.rainbow-text {
	background: -webkit-linear-gradient(-70deg,#8250df 0%,#d42a32 100%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: rgba(0,0,0,0);
	-webkit-box-decoration-break: clone;
	/* font-weight: bold; */
}

:host {
	height: fit-content!important;
}