body.disable-scroll {
	overflow: hidden!important;
	height: 100%;
}
body {
	overflow-x: hidden;
}
body[data-color-scheme="light"] uix-auth-component {
	--auth-bg: rgb(255, 255, 255);
	--auth-border: #747775;
	--auth-color: #1f1f1f;
}
body[data-color-scheme="dark"] uix-auth-component {
	--auth-bg: #131314;
	--auth-border: #747775;
	--auth-color: #e3e3e3;
}
uix-auth-component, uix-auth-component light-root {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji";
	&[data-appearance="dark"] {
		--auth-bg: #131314;
		--auth-border: #747775;
		--auth-color: #e3e3e3;
	}
	&[data-appearance="light"] {
		--auth-bg: rgb(255, 255, 255);
		--auth-border: #747775;
		--auth-color: #1f1f1f;
	}
	&[data-appearance="neutral"] {
		--auth-bg: #F2F2F2!important;
		--auth-border: transparent!important;
		--auth-color: #1F1F1F!important;
	}
}
#auth-blocker {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji";
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 100000;
	background: rgba(0, 0, 0, 0.5);
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	backdrop-filter: blur(20px);
	color: white;
	img {
		max-width: 140px;
	}
	&>p {
		width: calc(100% - 20px);
		max-width: 500px;
		margin-left: auto;
		text-align: center;
		font-size: large;
		margin-right: auto;
		&>a {
			cursor: pointer;
			display: flex;
			text-align: center;
			margin: auto;
			justify-content: center;
			margin-top: 10px;
			text-decoration: underline;
			color: var(--accent);
		}
	}
}