
:host {
	.spinner {
		transition: transform 0.2s, opacity 0.2s;
		height: var(--size)!important;
		width: var(--size)!important;
		position: absolute;
		z-index: -1;
		background: linear-gradient(
			90deg, 
			hsla(333, 100%, 53%, 1) 0%, 
			hsl(233.24deg 40.15% 48.81%) 100%
		);
		@keyframes spin {
			to {
				transform: rotate(360deg);
			}
		}
		animation: spin 1.4s linear infinite;
		border-radius: 50%;
	}
	div[slot="content"] {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 8px;

		&>a {
			user-select: none;
			position: relative;
			height: 100%;
			box-sizing: border-box;
			background-color: transparent;
			transition: background-color 0.1s;
			padding: 2px!important;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 100%;
			img {
				border-radius: 100%;
				height: 100%;
				transition: all 0.1s;
			}
		}
		&>a.toggle {
			width: 50px;
			height: 50px;
		}
		&>.chevron-down {
			fill: var(--text);
			transition: color 0.2s, fill;
			&:hover {
				fill: var(--text-highlight)
			}
			transition: transform 0.3s;
		}
	}

	&.connected div[slot="content"]  {
		&:hover {
			&>a {
				background-color: var(--text);
			}
			&>a img {
				box-shadow: 0px 0px 8px var(--bg-color);
			}
		}
		.spinner {
			opacity: 0;
		}
	}
	&.expanded div[slot="content"] > .chevron-down {
		transform: rotate(180deg)!important;
	}
	&.error {
		filter: grayscale(1) brightness(1.3);
		-webkit-filter: grayscale(1) brightness(1.3);
	}
	
	// &>iframe {
	// 	&.left {
	// 		left: 0;//-38px;
	// 	}
	// 	&.right {
	// 		right: 0;//-12px;
	// 	}
	// }
	iframe {
		&[data-alignment="left"] {
			left: -36px;
		}
		&[data-alignment="right"] {
			right: -12px;
		}
		&[data-alignment="left-fixed"] {
			left: 0;
		}
		&[data-alignment="right-fixed"] {
			right: 0;
		}
	}
	@media (orientation: portrait) {
		uix-auth-component .chevron-down {
			display: none!important;
		}
		iframe {
			&[data-alignment="left"] {
				left: 0px!important;
			}
			&[data-alignment="right"] {
				right: 0px!important;
			}
		}
	}
}